body{
    margin: 0 auto;
    background-image: url(../assets/images/Starterwallpaper.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#Btn-section{
  margin: 0 auto;
 }

.jumbotron{
    background-image:url(../assets/images/Pikachu.jpg);
    background-size: cover;
    background-size:450px;
    
    background-position-y:-85px; 
    background-position-x: 230px;
}

.display-4{
    
    margin: 0 auto;
    text-align: center;
}

.playable{
    margin: 5px;
}

h2{
    color: salmon;
    background-color: bisque;
}

#gif-section{
    width:100%;
    float: left;
}

